body{
    background-color:pink;
}
#container{
    width:fit-content;
}
button{
    background-color: yellow;
    color:brown;
}
fieldset{
    display: flex;
    flex-wrap:wrap;
   max-width: 600px;
   gap:2px;
  
}
legend{
    color:blue;
}
