body{
    background-color:pink;
}
#container{
    width:fit-content;
}
button{
    background-color: yellow;
    color:brown;
}
fieldset{
    display: flex;
    flex-wrap:wrap;
   max-width: 600px;
   gap:2px;
  
}
legend{
    color:blue;
}
li{
    border:2px solid black;
    width:fit-content;
    margin:2px;
}
a{
   
    text-decoration: none;
    padding:2px;
    background-color:aqua;
    color:red;
    
}
a:hover{
    background-color:yellowgreen;
    color:red;
}
a:active {
    background-color:blue;
    color:red;
}